html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

@font-face {
	font-family: my-future-font;
	src: url(fonts/poxel-font.ttf);
}

:root {
	--black: rgb(13, 13, 13);
	--white: rgb(255, 252, 252);
	--color-elements: red;
	--color-text-main: rgb(208, 208, 208);
}

html,
body{
	color: var(--color-text-main);
	background-color: var(--black);
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	font-size: 1.2rem;
	font-family: Verdana, sans-serif;
}
/* TEMP FOR SEEING STUFF */
div{
}

.main{
	display: flex;
	justify-content: center;
	width: 100vw;
}

*{
}

p{
	font-style:normal;
	margin-block-start: 1em;
	margin-block-end: 1em;
}

em{
	font-style:italic;
	color: red
}

strong{
	font-weight: 700;
	color: red
}

/* Picture side */
.picturePanel{
	flex-grow: 1;
	position: relative;
	width: 40vw;
	min-width: 345px;
	background: url(./images/background4.jpg);
	background-size:cover;
	display: flex;
	flex-direction: column;
	background-color: black;
	height: 100vh;
}

.logoPanel{
	position: absolute;
	width: 100%;
	top: 10rem;
	display: flex;
	height: 200px;
	align-items: center;
	overflow: hidden;
}

/* Logo text */
.logo-title{
	color: var(--color-elements);
	font-family: my-future-font;
	font-size: 100px;
	flex: 1;
	text-align: center;
	
}

.shout-out{
	flex: 1;
}

/* Form side */
.formPanel{
	display: flex;
	width: 60vw;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	flex-grow: 2;
}

.formTitlePanel{
	flex: 1;
}

/* Description */
.descriptionPanel{
	flex: 0.7;
	display: flex;
	flex-direction: column;
	position: relative;
	text-align: left;
}
.descriptionText{
	line-height: 1.5em; 
	padding: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

/* Form Form */
.formFormPanel{
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-right: 100px;
	background-color: rgb(19, 15, 15);
	padding-top: 30px;
	padding-bottom: 60px;
	box-shadow: 0px 10px 20px red;
	
	height: fit-content;
}

form {
	display: flex;
	width: 60vw;
	flex-flow: row wrap;
	gap: 1.2rem;
	font-size: 1rem;
}


label {
	flex-direction: column;
	line-height: 0.8em; 
	font-size: 1rem;
	width: 15rem;
	display: flex;
	font-variant-caps: all-small-caps;
}

.doThisText{
	font-variant-caps: all-small-caps;
	font-size: 1.5rem;
}

.formPanel > *{
	padding-left: 50px;
	font-weight: 600;
	padding-right: 100px;
}


input {
	background-color: rgb(30, 30, 30);
	color: var(--color-text-main);
	padding-left: 0px;
	box-sizing: border-box;
	padding: 7px;
	outline: none;
	border: 1px solid rgb(13, 12, 12);
	padding: 10px;
	margin-top: 7px;

}

input:focus {
	border: 1px solid rgb(231, 24, 24);
	padding-top: 10px;
}



input:active {
	border: 1px solid rgb(231, 24, 24);
}


.buttonPanel{
	flex: 1;
	display: flex;
    width: 60vw;
    flex-direction: column;
    align-items: start;
}

button{
	margin-top: 50px;
	padding: 15px;
	font-size: 1.2rem;
	font-weight: 800;
	border-radius: 4px;
	border-width: 3px;
	border-color: var(--color-elements);
	color: var(--color-elements);
	background-color: var(--black);
}


button:hover {
	transition: 0.21s;
	background-color: var(--color-elements);
	color: var(--black);
	border-color: var(--black);

}

a{
	color: var(--color-elements);
	text-decoration: none;
	
}

.shout-out{
	color: var(--color-elements);
	text-decoration: none;
	position: absolute;
	bottom: 0px;
    right: 90px;
	font-size: .8rem;	
	color: var(--color-text-main);
}

@media screen and (max-width: 850px) {
  
	.main{
	  flex-direction: column;
	}
	.picturePanel{
	  width: 100vw;
	  height: 20rem;
	}
  
	.descriptionPanel div, .formFormPanel, .buttonPanel div{
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  justify-content: center;
	}
  
	.formPanel, form, .buttonPanel{
	  width: 100vw;
	  justify-content: center;
	}
  }
  
  @media screen and (max-width: 505px) {
	
	label {
	  margin-bottom: 25px;
	}
  }